<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AbstractSpringIdentity</servlet-name>
  	<display-name>AbstractSpringIdentity</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.AbstractSpringIdentity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Authenticate</servlet-name>
  	<display-name>Authenticate</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.Authenticate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdentityCreation</servlet-name>
  	<display-name>IdentityCreation</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.IdentityCreation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Creation</servlet-name>
  	<display-name>Creation</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.Creation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdentitySearch</servlet-name>
  	<display-name>IdentitySearch</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.IdentitySearch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdentityModify</servlet-name>
  	<display-name>IdentityModify</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.IdentityModify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdentityDelete</servlet-name>
  	<display-name>IdentityDelete</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.IdentityDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdentitySearching</servlet-name>
  	<display-name>IdentitySearching</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.IdentitySearch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<display-name>Search</display-name>
  	<description></description>
  	<servlet-class>fr.epita.iam.controllers.Search</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AbstractSpringIdentity</servlet-name>
  	<url-pattern>/AbstractSpringIdentity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Authenticate</servlet-name>
  	<url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdentityCreation</servlet-name>
  	<url-pattern>/IdentityCreation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Creation</servlet-name>
  	<url-pattern>/Creation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdentitySearch</servlet-name>
  	<url-pattern>/IdentitySearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdentityModify</servlet-name>
  	<url-pattern>/IdentityModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdentityDelete</servlet-name>
  	<url-pattern>/IdentityDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdentitySearching</servlet-name>
  	<url-pattern>/IdentitySearching</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>
